@mixin btn-dropdown($bg-color) {
  .btn,
  ul {
    background-color: $bg-color;
    color: $secondary;
    a {
      color: $secondary;
    }
  }
}

@mixin tag($bg-color) {
  color: white;
  background-color: $bg-color;
  width: 120px;
  border-radius: 3px;
  padding: 7px;
  display: block;
  height: 50px;
}

@mixin btn($bg-color) {
  width: 100%;
  input {
    border: none;
    border-radius: 0;
    color: white;
    background-color: $bg-color;
    display: inline;
    height: 20px;
    width: 90%;
    &::placeholder {
      color: white;
    }
    &:focus {
      border: none;
      border-radius: 0;
    }
  }
}

@mixin btn-opened($color) {
  width: 100%;
  background-color: $color;
  border-radius: 5px;
  height: 55px;
  input {
    border: none;
    border-radius: 0;
    color: white;
    background-color: $color;
    display: inline;
    height: 20px;
    width: 90%;
    &::placeholder {
      color: white;
    }
    &:focus {
      border: none;
      border-radius: 0;
    }
  }
  i{
    color: white;
  }
}
