@mixin btn-dropdown($bg-color) {
  .btn,
  ul {
    background-color: $bg-color;
    color: $secondary;
    a {
      color: $secondary;
    }
  }
}

@mixin tag($bg-color) {
    background-color: $bg-color;
    width: 120px;
    border-radius: 3px;
    padding: 7px;
    display: block;
    color: white;
    height: 50px;
}
