@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import "./variable_overrides";
@import "./mixin";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.grey-bg,
.grey-bg:focus {
  background-color: darken($color: white, $amount: 10);
  border: none;
  padding: 20px;
}

.search {
  font-size: 1.3em;
  right: 30px;
  top: 25%;
}

.filters {
  gap: 15px;
  .ingredients {
    @include btn-dropdown(cornflowerblue);
  }

  .appliance {
    @include btn-dropdown(rgb(117, 189, 117));
  }

  .ustensils {
    @include btn-dropdown($primary);
  }

  .btn-ingredients {
    @include btn(cornflowerblue);
  }

  .btn-appliance {
    @include btn(rgb(117, 189, 117));
  }

  .btn-ustensils {
    @include btn($primary);
  }

  .col-1 {
    width: 12%;
  }

  .dropdown-menu {
    padding: 0;
    width: 100%;
    ul {
      height: 1100px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  button {
    color: white;
  }
}

.tag-ingredients {
  @include tag(cornflowerblue);
}

.tag-appliance {
  @include tag(rgb(117, 189, 117));
}

.tag-ustensils {
  @include tag($primary);
}

.card {
  .card-header {
    height: 150px;
    background-color: darken($color: $secondary, $amount: 25);
  }
  .card-body {
    height: 350px;
    .description {
      p {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    ul,
    p {
      font-size: 0.8em;
    }
  }
}

.btn-ingredients-opened{
  @include btn-opened(cornflowerblue);
}

.btn-appliance-opened{
  @include btn-opened(rgb(117, 189, 117));
}

.btn-ustensils-opened{
  @include btn-opened($primary);
}
