@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import "./variable_overrides";
@import "./mixin";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.grey-bg,
.grey-bg:focus {
  background-color: darken($color: white, $amount: 10);
  border: none;
  padding: 20px;
}

.search {
  font-size: 1.3em;
  right: 30px;
  top: 25%;
}

.filters {
  gap: 15px;
  .ingredients {
    @include btn-dropdown(cornflowerblue);
  }

  .appliance {
    @include btn-dropdown(rgb(117, 189, 117));
  }

  .ustensils {
    @include btn-dropdown($primary);
  }
}

.card {
  .card-header {
    height: 150px;
    background-color: darken($color: $secondary, $amount: 25);
  }
  .card-body {
    height: 500px;
    ul,
    p {
      font-size: 0.8em;
    }
  }
}

.btn {
  width: 100%;
  input {
    border: none;
    border-radius: 0;
    background-color: cornflowerblue;
    color: white;
    display: inline;
    height: 20px;
    width: 90%;
    &::placeholder {
      color: darken($color: white, $amount: 10);
    }
    &:focus {
      border: none;
      border-radius: 0;
      background-color: cornflowerblue;
      color: white;
    }
  }
}

.col-1 {
  width: 12%;
}

.tag {
  background-color: pink;
  width: 120px;
  border-radius: 3px;
  padding: 7px;
  display: block;
}
